<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Props</title>

    <!-- favions settings -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/manifest.json">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#ff9800">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhV0SbEq0mxTxLR6ydAiw2jfjWPqQzPH0&callback=initMap&sensor=true"
    async defer></script>
    <script>
    /* eslint no-unused-vars: 0 */
    function initMap () {
      window.mapIsLoaded = true
    }
    </script>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <!-- <%= htmlWebpackPlugin.options.serviceWorkerLoader %> -->
    <!-- built files will be auto injected -->
  </body>
</html>
