.slide-right-enter-active,
.slide-right-leave-active
  transition: all .3s ease

.slide-right-enter,
.slide-right-leave-to
  transform: translateX(-100%)

.grow-y-enter-active,
.grow-y-leave-active
  transition: all .3s ease
  margin-top: 0

.grow-y-enter,
.grow-y-leave-to
  margin-top: -100%
