@import variables

.absolute
  position: absolute

.center
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  margin: auto

.h-100
  height: 100%

.h-33v
  height: 33vh

.w-100
  width: 100%

.w-sm
  width: $small
  max-width: 100%

.opacity-0
  opacity: 0

.scrollable
  overflow: auto

.break-word
  overflow-wrap: break-word

.m-auto
  margin: auto

.mb-footer
  margin-bottom: 80px

.p-2
  margin: 2.5rem

.pt-0
  padding-top: 0

.pb-1
  padding-bottom: 1rem

.pb-2
  padding-bottom: 2.5rem

.pb-footer
  padding-bottom: 80px

.round
  border-radius: 100%

.light
  background-color: white
  color: black

.dark
  background-color: #444
  color: white

.inherit
  background: inherit
  color: inherit

.no-bg
  background: none
  border: none

.fade-top-light
  border-top: 40px solid
  border-image: linear-gradient(to top, white, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) 100

.fade-top-dark
  border-top: 40px solid
  border-image: linear-gradient(to top, #444, rgba(68, 68, 68, 0.95), rgba(68, 68, 68, 0.5), rgba(255, 255, 255, 0)) 100

.sticky-footer
  position: fixed
  bottom: 0

.absolute-footer
  position: absolute
  bottom: 0
